<tr>
  <td><%= link_to courier.name, courier %></td>
  <td><%= courier.email %></td>
  <td>
    <div class="btn-group float-end">
      <%= link_to 'Show', courier_path(courier), class: 'btn btn-sm btn-light' %>
      <%= link_to 'Edit', edit_courier_path(courier), class: 'btn btn-sm btn-light' %>
    </div>
  </td>
</tr>
