<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <%= link_to 'DeliveryApp', root_path, class: 'navbar-brand active' %>
    <ul class="nav nav-pills">
      <li class="nav-item"><%= link_to 'Couriers', couriers_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>
